/* src/styles.scss */
/* You can add global styles to this file, and also import other style files */

/* Additional global styles */
html, body {
    height: 100%;
    margin: 0;
    padding: 0;
  }
  
  /* Font imports if needed */
  @import url('https://fonts.googleapis.com/css2?family=Nunito:wght@300;400;500;600;700&display=swap');